#About{
    min-height:100vh;
    border:1px dashed black;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    display:grid;
    align-content: center;
    justify-content: center;
    .content{
        border:1px dashed silver;
        width:950px;
        .photo{
            width:250px;
            height:250px;
            border-radius:125px;
            background-color:gray;
            margin-right:auto;
            margin-left:auto;
        }
         .title{
            font-size:50px;
            text-align: center;
        }
        .text{
            width:250px;
            margin-right:auto;
            margin-left:auto;
        }
    }

}