@import '../../variables.scss';
.title{
  font-family: 'bebas';
}
#Content{
  min-height:100vh;
  border:1px solid black;
  h1{
    background-color:$dark;
    text-align:center;
    color:white;
    padding:10px;
    border-top:1px solid white;
    border-bottom:1px solid white;
  }
  .grid{
      display:grid;
      grid-template-columns: 1fr 1fr;
      width:950px;
      margin-left:auto;
      margin-right:auto;
      grid-gap:50px;
      margin-top:50px;
      margin-bottom:50px;
      .intro{
          grid-column:1/3;
      }
      
  }
}